---
import Layout from "../layouts/Layout.astro";
import YearGroupSection from "../components/YearGroupSection.astro";
import { getYearGroupHref, getAllYearGroups } from "../lib/edition";

const groups = await getAllYearGroups();
const group = groups[0];

if (!group) {
  throw new Error("Missing first year group");
}
---

<Layout
  title={`${group.label} | Lenz-Briefe`}
  description={`Briefe im Zeitraum ${group.label}.`}
>
	<nav class="" aria-label="Briefe nach Jahren">
		<ol>
		{groups.map((group) => (
			<li><a class="" href={getYearGroupHref(group.id)}>{group.label}</a></li>
		))}
		</ol>
	</nav>
  <div class="">
    <YearGroupSection group={group} />
  </div>
</Layout>
