---
import type { LetterMeta } from "../lib/edition";
import { getLetterHref, joinLabels } from "../lib/edition";

type Props = {
  letter: LetterMeta;
};

const { letter } = Astro.props;
const senders = joinLabels(letter.sent.persons);
const recipients = joinLabels(letter.received.persons);
const places = joinLabels(letter.sent.locations);
---

<a class="" href={getLetterHref(letter.letter)}>
  <div class="">
    <span class="">Brief</span>
    <strong class="">{letter.letter}</strong>
  </div>
  <div class="">
    <p class="">{letter.sent.date?.text ?? "Ohne Datierung"}</p>
    <p class="">
      {senders && <span>{senders}</span>}
      {recipients && <span>An {recipients}</span>}
      {places && <span>{places}</span>}
    </p>
  </div>
</a>
