---
import LetterIndexEntry from "./LetterIndexEntry.astro";
import type { YearGroup } from "../lib/edition";

type Props = {
  group: YearGroup;
};

const { group } = Astro.props;
---

<section class="" aria-labelledby={`year-${group.id}`}>
  <div class="">
    <div class="">
      <h2 class="" id={`year-${group.id}`}>{group.label}</h2>
      <p class="">{group.letters.length} Briefe</p>
    </div>
  </div>
  <div class="">
    {group.letters.map((letter) => <LetterIndexEntry letter={letter} />)}
  </div>
</section>
